//------------------//
//------FIRST-------//
//-------PAGE-------//
//------------------//

.home {
  width: 100vw;
  height: 100vh;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 5fr;
  align-items: center;
  background-color: $background;

  &__title {
    grid-column-start: 1;
    color: #00473e;
  }
  &__subtitle {
    grid-column-start: 2;
    grid-row-start: 1;
    color: #475d5b;
  }
}

.search {
  grid-row-start: 2;
  display: flex;
  align-items: center;
  justify-content: center;

  color: #f2f7f5;

  background-color: $background;
  border-radius: 15px;

  &__form {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
  }
  &__form__input {
    width: 80%;
    height: 3em;

    text-align: center;
    background-color: #f2f7f5;
    border: none;
  }
  &__form__button {
    width: 20%;
    height: 2.5em;

    color: #00473e;

    background-color: #faae2c;
    border: none;
    border-radius: 8px;
  }
}
.svg--mainpage {
  width: 33rem;
  height: 23rem;
}
