//------------------//
//------HEADER------//
//------------------//
.search-header {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100vw;
  height: 10vh;

  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: $secondary;
}
.search-bar {
  position: relative;

  width: 30%;
  height: 60%;

  text-align: center;
  font-size: 1.5em;
  color: $header;
}
.main-content {
  background-color: $background;
}

.icon-search {
  position: absolute;

  right: 36%;
}

.logo {
  position: absolute;
  left: 3vw;

  color: $background;
  font-family: $font-logo;
  font-size: 4em;
  font-style: italic;
  letter-spacing: 0.2em;
}
