//------------------//
//------SEARCH------//
//-------PAGE-------//
//------------------//
.search-wrapper {
  display: flex;
}
.search-bar {
  width: 100vw;
  height: 10vh;

  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: $secondary;
}
.search-content {
  background-color: $background;
}
